<!DOCTYPE html>
<html lang="en">
<head>
    <title>Python Flask Bucket List App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous'>
</head>
<body>

    <div class="container">
        <div class="form-group">
            <label for="cipher">Pilih jenis cipher</label>
            <select class="form-control" id="cipher">
                <option value="1">Vigenere Cipher Standard</option>
                <option value="2">Auto Key Vigenere Cipher</option>
                <option value="3">Extended Vigenere Cipher</option>
                <option value="4">Playfair Cipher</option>
                <option value="5">Affine Cipher</option>
                <option value="6">Hill Cipher</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="text">Text</label>
            <textarea class="form-control" id="text" rows="2"></textarea>
        </div>
        
        <div class="form-group">
            <label for="key">Key</label>
            <textarea class="form-control" id="key" rows="1"></textarea>
            <span>note: Khusus Hill Cipher, key adalah array 3x3. contoh input 17;17;5;21;18;21;2;2;19</span>
        </div>
        
        <button class="btn btn-encrypt btn-success mr-3">Encrypt</button>
        <button class="btn btn-decrypt btn-danger">Decrypt</button>
        
        <div class="form-group" id="result-group" style="display: none;">
            <label id="label-result" for="result-text"></label>
            <textarea class="form-control" id="result-text" rows="2" disabled></textarea>
            <label for="result-text">Key</label>
            <textarea class="form-control" id="result-key" rows="2" disabled></textarea>
            <label for="result-text">Base 64</label>
            <textarea class="form-control" id="result-base64" rows="2" disabled></textarea>
        </div>
    
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script type="text/javascript">
        const text = document.querySelector("#text");
        const result = document.querySelector("#result-group");
        const labelResult = document.querySelector("#label-result");
        const textResult = document.querySelector("#result-group #result-text");
        const keyResult = document.querySelector("#result-group #result-key");
        const base64Result = document.querySelector("#result-group #result-base64");
        document.querySelector(".btn-encrypt").addEventListener("click", function(event) {
            event.preventDefault();

            const value = $('#text').val();
            const key = $('#key').val();
            const cipher = $('#cipher').val();

            fetch(`/encrypt`, {
                method: 'POST',
                // Adding body or contents to send
                body: JSON.stringify({
                    plainText: value,
                    key: key,
                    cipher: cipher
                }),
                
                // Adding headers to the request
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            })
            .then(response => response.json())
            .then(data => {
                result.style.display = "block";
                labelResult.innerHTML = "Hasil encrypt"
                textResult.innerHTML = data.chipherText;
                keyResult.innerHTML = data.key;
                base64Result.innerHTML = btoa(data.chipherText);
            })
            .catch(function(err) {
                console.error(err);
            })
        });

        document.querySelector(".btn-decrypt").addEventListener("click", function(event) {
            event.preventDefault();

            const value = $('#text').val();
            const key = $('#key').val();
            const cipher = $('#cipher').val();

            fetch(`/decrypt`, {
                method: 'POST',
                // Adding body or contents to send
                body: JSON.stringify({
                    plainText: value,
                    key: key,
                    cipher: cipher
                }),
                
                // Adding headers to the request
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            })
            .then(response => response.json())
            .then(data => {
                result.style.display = "block";
                labelResult.innerHTML = "Hasil decrypt"
                textResult.innerHTML = data.plainText;
                keyResult.innerHTML = data.key;
                base64Result.innerHTML = btoa(data.plainText);
            })
            .catch(function(err) {
                console.error(err);
            })
        });
    </script>
</body>
</html>